soppel-node-red
[{"id":"f80c77a1.7aa1c8","type":"split","z":"1fafead3.ba4ce5","name":"","splt":"Optisk sortert avfall ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":770,"y":40,"wires":[["dc08eddd.040e2"]]},{"id":"4a0cfa9e.8a7364","type":"inject","z":"1fafead3.ba4ce5","name":"Oppdater","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":true,"onceDelay":"360","x":110,"y":100,"wires":[["9cfc7d0.09f798"]]},{"id":"a44aa9ea.7a08e8","type":"html","z":"1fafead3.ba4ce5","name":"","property":"","outproperty":"","tag":"div.elementor-shortcode","ret":"text","as":"multi","x":450,"y":100,"wires":[["217af31a.de1cfc"]]},{"id":"9cfc7d0.09f798","type":"http request","z":"1fafead3.ba4ce5","name":"Remiks","method":"GET","ret":"txt","url":"https://www.remiks.no/privat-husholdning/finn-din-tommedag/?propertyaddress=Innlandsvegen+48","tls":"","x":260,"y":100,"wires":[["a44aa9ea.7a08e8"]]},{"id":"217af31a.de1cfc","type":"switch","z":"1fafead3.ba4ce5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Optisk","vt":"str"},{"t":"cont","v":"Glass","vt":"str"},{"t":"cont","v":"Posesupplering","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":100,"wires":[["f80c77a1.7aa1c8"],["6e7d756e.a8bd2c"],["86265621.281938"]]},{"id":"6e7d756e.a8bd2c","type":"split","z":"1fafead3.ba4ce5","name":"","splt":"Glass og metallemballasje","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":100,"wires":[["3c38e9c5.80b5d6"]]},{"id":"86265621.281938","type":"split","z":"1fafead3.ba4ce5","name":"","splt":"Posesupplering","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":160,"wires":[["2c0995.c8baf66c"]]},{"id":"37f48fc0.27bd6","type":"mqtt out","z":"1fafead3.ba4ce5","name":"","topic":"MQTTOptisk","qos":"","retain":"","broker":"285c0aa.aebb3f6","x":1410,"y":40,"wires":[]},{"id":"699096f.9077168","type":"mqtt out","z":"1fafead3.ba4ce5","name":"","topic":"MQTTGlass","qos":"","retain":"","broker":"285c0aa.aebb3f6","x":1410,"y":100,"wires":[]},{"id":"34e1f60b.e3eeda","type":"mqtt out","z":"1fafead3.ba4ce5","name":"","topic":"MQTTPoser","qos":"","retain":"","broker":"285c0aa.aebb3f6","x":1410,"y":160,"wires":[]},{"id":"dc08eddd.040e2","type":"switch","z":"1fafead3.ba4ce5","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":40,"wires":[["8469f4d9.7ccc98"]]},{"id":"8469f4d9.7ccc98","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"MANDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TIRSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"ONSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TORSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"FREDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" - ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":40,"wires":[["7c9ffa58.b21784"]]},{"id":"3c38e9c5.80b5d6","type":"switch","z":"1fafead3.ba4ce5","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":100,"wires":[["9c3e19ca.c03188"]]},{"id":"9c3e19ca.c03188","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"MANDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TIRSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"ONSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TORSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"FREDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" - ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":100,"wires":[["92ca6b29.c91e68"]]},{"id":"2c0995.c8baf66c","type":"switch","z":"1fafead3.ba4ce5","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":160,"wires":[["2889185f.c232b8"]]},{"id":"2889185f.c232b8","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"MANDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TIRSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"ONSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TORSDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"FREDAG  ","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" - ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["ce20ed2f.573da"]]},{"id":"92ca6b29.c91e68","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"/","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jan","fromt":"str","to":"01","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"feb","fromt":"str","to":"02","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mar","fromt":"str","to":"03","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"apr","fromt":"str","to":"04","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mai","fromt":"str","to":"05","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jun","fromt":"str","to":"06","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jul","fromt":"str","to":"07","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"aug","fromt":"str","to":"08","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"sep","fromt":"str","to":"09","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"okt","fromt":"str","to":"10","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"nov","fromt":"str","to":"11","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"des","fromt":"str","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":100,"wires":[["699096f.9077168"]]},{"id":"7c9ffa58.b21784","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"/","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jan","fromt":"str","to":"01","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"feb","fromt":"str","to":"02","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mar","fromt":"str","to":"03","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"apr","fromt":"str","to":"04","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mai","fromt":"str","to":"05","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jun","fromt":"str","to":"06","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jul","fromt":"str","to":"07","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"aug","fromt":"str","to":"08","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"sep","fromt":"str","to":"09","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"okt","fromt":"str","to":"10","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"nov","fromt":"str","to":"11","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"des","fromt":"str","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":40,"wires":[["37f48fc0.27bd6","f9f408f8.8c30e8"]]},{"id":"ce20ed2f.573da","type":"change","z":"1fafead3.ba4ce5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"/","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jan","fromt":"str","to":"01","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"feb","fromt":"str","to":"02","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mar","fromt":"str","to":"03","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"apr","fromt":"str","to":"04","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"mai","fromt":"str","to":"05","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jun","fromt":"str","to":"06","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"jul","fromt":"str","to":"07","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"aug","fromt":"str","to":"08","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"sep","fromt":"str","to":"09","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"okt","fromt":"str","to":"10","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"nov","fromt":"str","to":"11","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"des","fromt":"str","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":160,"wires":[["34e1f60b.e3eeda"]]},{"id":"f9f408f8.8c30e8","type":"debug","z":"1fafead3.ba4ce5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":260,"wires":[]},{"id":"285c0aa.aebb3f6","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"AMSal3","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
